/** reset **/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
        box-sizing: inherit;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, nav, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family: 'Raleway', sans-serif;
	font-smooth: always;
	font-size: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, nav, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* wrapper */
p { line-height: 32px; }
a { 
	color: #ffffff; 
	text-decoration: none;
}
a.active { font-weight: 400; color: #ffffff; }
.wrapper { 
	display: flex; 
	height: 100vh;
	min-height: 100vh;
}
/* Header */
ul { list-style-type: none; }
a {
	text-decoration: none;
	color: #333;
	font-size: 1.2rem;
}
h1, h2 {
	font-weight: 300;
	line-height: 1;
	margin: 10px, 0px;
}
p { margin: 10px, 0px; font-size: 1.1rem;}
img { width: 100%; }
header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
header .logo { height: 250px; }
header .logo img {
	width: 200px;
	padding: 10px;
}
header nav {
	height: 50px;
	padding: 80px;
}
header nav ul { 
	display: flex; 
	background-color: rgba(132, 92, 0, .25); 
	padding: 10px;
	border-radius: 15px; 
}
header nav a {
	color: #845c00;
	padding: 15px;
  	margin: 10px 5px;
}
header nav a:hover { border-bottom: 2px #845c00 solid; }
main {
	display: grid;
	padding: 20px;
	width: 100%;
	grid-template-columns: 55% 35%;
	gap: 20px;
	z-index: 1;
	overflow: visible;
}
main h1 { font-size: 1.5rem; padding-bottom: 20px; }
main p { font-size: 1.1rem; }
.showcase-form { text-align: center; padding: 20px; border: 2px #845c00 solid; border-radius: 10px; width: 100%; }
.showcase-text { padding: 10px; margin: 10px; padding-top: 40px; }
.form {
	position: relative;
	top: 10px;
	height: 100%;
	width: 100%;
	padding: 10px;
}
.form p { font-size: 1.1rem; }
.form .form-control { margin: 5px 0; }
.form input[type=text], .form input[type=email], .form input[type=tel] {
  	border: 0;
	border-bottom: 1px solid #b4becb;
        width: 100%;
	padding: 10px;
	font-size: 1.1rem;
}
.form .btn { 
	    border: 0; 
	    border-radius: 0px; 
	    font-size: 1.1rem; 
	    margin: 20px; 
	    padding: 10px 25px; 
	    background: rgba(132, 92, 0, .25);  
}
.form input:focus { outline: none; }
.Owner { display: grid; grid-template-columns: 7fr 10fr; }
.Owner .owner { align-items: left; }
.Owner .card {
	background-color: rgba(132, 92, 0, .25);
	border-radius: 10px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 10px;
	color: #333;
}
.Owner .card { text-align: left;}
.Owner .card img { width: 200px; border-radius: 20px;}
footer .text-center {
	text-align: center;
	align-items: center;
	width: 100%;
	margin: 10px; 
	padding: 10px;
}
